image: Visual Studio 2017
configuration: Release
environment:
  keystore-password:
    secure: AuYtvfURKiNNrIb/UIAgP/CoHSZQ/pDJcr9g62l7cLg=
before_build:
- cmd: nuget restore AVF.Android.sln
build:
  project: AVF.Android.sln
build_script:
  - msbuild "/t:SignAndroidPackage" "/p:Configuration=Release" "/p:AndroidKeyStore=true" "/p:AndroidSigningKeyAlias=AVF.MemberManagement" "/p:AndroidSigningKeyPass=%keystore-password%" "/p:AndroidSigningKeyStore=AVF.CourseParticipation.keystore" "/p:AndroidSigningStorePass=%keystore-password%" "./AVF.CourseParticipation/AVF.CourseParticipation.Android/AVF.CourseParticipation.Android.csproj"
artifacts:
  - path: AVF.CourseParticipation\AVF.CourseParticipation.Android\bin\Release\de.aikido-forchheim.courseparticipation.apk
test: off
branches:
  only:
  - master