<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AVF.MemberManagement.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <AVF.MemberManagement.Reports.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>839, 756</value>
            </setting>
            <setting name="LastReportGraduationList" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastReportMemberFees" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastReportTraining" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastReportTrainingsParticipation" serializeAs="String">
                <value/>
            </setting>
        </AVF.MemberManagement.Reports.Properties.Settings>
    </userSettings>
</configuration>
